/*==================
REGISTER PAGE
===================*/

.register-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

/*===================
LEFT SIDE
====================*/

.register-left{
    background: linear-gradient(135deg,#2563eb,#7c3aed);
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.register-content{
    max-width: 500px;
}
.logo{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 40px;
}
.logo i{
    font-size: 32px
}
.register-content h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.register-content p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
}
.regist-features{
    list-style: none;
    padding: 0;
}
.register-features li{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*======================
RIGHT SIDE
=======================*/

.register-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8fafc;
    padding: 40px;
}

.register-card{
    width:100%;
    max-width: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow:0 15px 40px rgba(red, green, blue, alpha)
}
.register-card h2{
    text-align: center;
    margin-bottom: 10px;
}
.register-card p{
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

/*==================
Form
=====================*/

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group label{
    margin-bottom: 8px;
    font-weight: 600;

}
.form-group input,
.form-group select{
    padding: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 16px;
    transition: .3s;
}
.form-group input:focus,
.form-group select:focus{
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37,99,235,.15);
}

/*==================
CHECKBOX
====================*/

.checkbox-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.checkbox-group label{
    color: #555;

}

/*========================
Button
==========================*/

.register-btn{
    width: 100%;
    margin-top: 10px;
}

/*=========================
Login Link
===========================*/

.login-link{
    text-align: center;
    margin-top: 30px;
}
.login-link a{
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;

}
.login-link a:hover{
    text-decoration: underline;
}


.register-logo{
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 2.2rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 30px;
}

.register-logo i{
    color: #ffffff;
    font-size: 2.2rem;
}

.register-logo span{
    color: #ffffff;
    font-size: 2.2rem;
}

/*=========================
Responsive
==========================*/

@media(max-width:992px){
    .register-container{
        grid-template-columns: 1fr;
    }

    .register-left{
        display: none;
    }
}