header{
    background: #ffffff;
}

nav{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 15px rgba(0,0,0,.05);

}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 2rem;
    font-weight: 700;
    color: #2563eb;
}
.logo span{
    color: #2563eb;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.logo i{
    font-size: 2rem;
    color: #2563eb;
}

.nav-links{
    display: flex;
    gap: 35px;
}
.nav-links a{
    font-weight: 500;
    transition: .3s;
    color:#1f2937;
    text-decoration: none;

}
.nav-links a:hover{
    color: #2563eb;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-icons i{
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.nav-icons i:hover{
    color:var(--primary);
}

.login-btn,
.signup-btn{
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
}
.menu-toggle{
    display:none;
    font-size: 28px;
    cursor: pointer;
}