/*====================
CONTAINER
======================*/
.container{
    width:min(1200px,90%);
    margin:0 auto;
}

/*=======================
SECTION
=========================*/
.section{
    padding: 100px 0;
}

/*======================
FLEX
========================*/

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=======================
GRID
=========================*/

.grid{
    display: grid;
}

/*===================
TEXT
====================*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}